.ProfileCard {
    width: auto;
    height: 100%;
    background-color: #dddcdc;
    border-radius: 2em;
    transition: 300ms;
    display: flex;
    padding-left: auto;
}

.ProfileCard:hover {
    box-shadow: 1px 19px 58px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 19px 58px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 19px 58px 0px rgba(0, 0, 0, 0.1);
    transition: 300ms;

}

.ProfileWrapper{
    padding: 2em;
}
.Password{
    margin-right: 1em;
}

.Things{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
   
    align-items: center;

}



.ProfileImage{
    flex:2;
    display: flex;
    flex-direction: column;
}
.CandidateName{
   padding: 0.5em;
    font-size: 35px;
    font-weight: 700;
    color: #545151;
}

.ProfileDetails{
    flex: 6;
   
}
.SaveButton{
    flex: 2;
}

.ProfileDetails {
    display: flex;

    justify-content: center;
    align-items: start;
  }
  .Info{
    flex: 1;
  }
  .FurtherInfo{
    flex: 1;
    margin-left: 1em;
  }
  

  .BInfo{
   
    align-items: start;
    
    
    
    flex-wrap: wrap;
  }

  .form_city{
    gap: 1em;
  }

  .SaveButton{
    align-items: flex-start;
  }


  