
.feedJobDesc {
    flex: 8;
    height: 100%;
    overflow-y: scroll;
    color: #464646;
}
.feedWrapperJobDesc {
    
    padding: 3em;
   
}

.feedTitle {
    font-size: 40px;
    font-weight: 900;
    color: #464646;
}




.JobDesc{
   
    padding-top: 2em;
    display: flex;
    width: fit-content;
    
    

    
}

 .Appl{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: 80%;
    height: 20%;
    border: 1px solid #c1bdbd;
    border-radius: 20px;
    align-items: center;
 }
 .text{
    margin-left: 50px;
    margin-top: 20px;
    font-size: small;
 }
 
 .ApplyNow{
    margin-top: 50px;
    margin-left: 90px;
    margin-right: 20px;
    width: 50%;
    height: 30%;
    font-size: 1.5em;
 }
