.CompanyMGT {
    flex: 10;
    color: #545151;
}

.CMGTtopbar {
    display: flex;
    background-color: rgb(243, 243, 243);
    font-weight: 900;
    color: #545151;
    padding: 0.5em 1em;
    font-size: 3em;
}

.CMGTbottomBody {
    padding: 3em;
    display: flex;
    gap: 1em;
}

.CMGTrightPanelViewPort,
.CMGTleftPanelViewPort {
    flex: 1;
    height: 75vh;
    overflow: scroll;

}

.profileImageSelection {
    align-items: center;
    justify-content: center;
    border: #d0d0d0 dashed 0.3em;
    border-radius: 5em;
    padding: 1em 0em;
    background-color: rgb(248, 248, 248);
}

.logoSelectionContainer {
    padding: 1em 2em;
    overflow: scroll;
}

.CMGTeditInfoForm {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0em 1em 1em;
}

.CMGTsubHeading {
    font-size: 2em;
    font-weight: 900;
}

.CMGTTopBarInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.CMGTFormsViewPort {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: fit-content;
    gap: 1em;
}

.CMGTAdminsAndNonAdminsHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.CMGTAddHRM {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 50em;
    padding: 0.2em 0.7em;
    border: 3px solid green;
    font-size: 1em;
    font-weight: bold;
    color: green;
    background-color: rgb(244, 255, 244);
}

.CMGTAddHRM:hover {
    color: white;
    background-color: green;
    cursor: pointer;
}