.sidebar {
    flex: 2;
    overflow: hidden;
    position: relative;
}

.sidebarWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: center;
    background-color: #d9d9d9;
}

.companyImage {
    align-items: center;
    margin: 50px 0px 0px;
    border-radius: 50%;
    width: 10em;
    height: 10em;
    box-shadow: 1px 19px 58px 0px rgba(0, 0, 0, 0.17);
    -webkit-box-shadow: 1px 19px 58px 0px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 1px 19px 58px 0px rgba(0, 0, 0, 0.17);
    transition: 300ms;
}

.companyImage:hover {
    transition: 300ms;
    box-shadow: 1px 19px 58px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 19px 58px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 19px 58px 0px rgba(0, 0, 0, 0.5);
}

.companyTitle {
    padding: 35px 0px 10px;
    font-size: 35px;
    font-weight: 700;
    color: #545151;
}

.optionsList {
    list-style: none;
    padding: 20px;
    margin-top: 1em;
}

.option {
    display: flex;
    font-size: 18px;
    padding: 20px;
    margin: 10px 0px 10px;
    transition: 300ms;
    border: solid 0px #cecdcd;
    cursor: pointer;
}

.option:hover {
    transition: 600ms;
    background-color: #eae8e8;
    border-radius: 20px;
    box-shadow: 1px 19px 58px 0px rgba(0,0,0,0.12);
    -webkit-box-shadow: 1px 19px 58px 0px rgba(0,0,0,0.12);
    -moz-box-shadow: 1px 19px 58px 0px rgba(0,0,0,0.12);
}

.optionLink {
    text-decoration: none;
    color: #545151;
}

.optionsIcon{
    color: #545151;
    padding-right: 10px;
}