.applicationGrid {
    overflow-y: scroll;
    height: 65vh;
}

.appGridWrapper {
    border: 3px dashed #e2e2e2;
    background-color: #f5f5f5;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(17em, 1fr));
    padding: 1em 0.5em 0.5em 0.5em;
}

.SubHeading{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0.5em;
    padding: 1em 0em;
}