.applicationGrid {
    overflow-y: scroll;
    height: 65vh;
}

.appGridWrapper {
    padding-top: 2em;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(17em, 1fr));
    padding: 2em;
}