.CandjobCard {
    width: auto;
    height: auto;
    background-color: #d9d9d9;
    border-radius: 2em;
    transition: 300ms;
    border: none;
    cursor: pointer;
}

.compName {
    padding-top: 0.5em;
    font-weight: bold;
    font-size: 1.1em;
}

.image1 {
    display: flex;
    flex-direction: column;
}

.CandjobCard:hover {
    box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.5);
    transition: 300ms;

}

.CandpositionSpots {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.imageNcol {
    display: flex;
    gap: 2.5em;
    align-items: center;
}

.titleLocSkills {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.CandJobTitle {
    font-weight: 900;
    font-size: 2em;
    text-align: left;
}

.CandLoc {
    font-size: 1.5em;
    font-style: italic;
    text-align: left;
}

.CandSkills {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25em;
}

.CandjobCardContainer {
    color: #4a4a4a;
    display: flex;
    padding: 2em;
    gap: 2em;
    flex-direction: row;
    justify-content: space-between;
}

.CandpositionSpots {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.Candposition {
    width: auto;
    height: auto;
    align-items: start;
}

.Candtitle1 {
    font-weight: 800;
    font-size: 3em;
    margin-right: 10em;
}

.Candloc {
    font-weight: 500;
    font-size: 1em;
    margin-right: 10em;
    align-items: start;
}

.Candtype {
    font-weight: 500;
    font-size: 2em;

}

.Candjobtype {
    margin-left: auto;

}

.Candspots {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    padding: 0.5em;
    font-size: 1.2em;
    font-weight: 400;
    background-color: #c6c6c6;
    border-radius: 1em;
    width: auto;
}


.up1 {
    height: 3em;
    width: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c6c6c6;
    margin-top: 1em;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.17);
    -webkit-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.17);
    transition: 300ms;
}

.upIcon {
    color: #4a4a4a;
}

.up1:hover {
    box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.5);
    transition: 300ms;
}

.skillChip {
    background-color: #4a4a4a;
    display: flex;
    flex-direction: row;
    padding: 0.4em;
    color: white;
    border-radius: 20em;
}