.login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginWrapper {
    display: flex;
    flex-direction: column;
    width: 100vb;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 3em;
    align-items: center;
}

.TalentHiveLogo {
    font-size: 7em;
    font-weight: 100;
    color: #001b52;
    text-shadow: -62px -124px 4px rgba(0, 0, 0, 0.15);
}

.LoginHeading {
    color: #6B7280;
}

.form-control {
    width: 110%;
    padding: 1em;
    border: none;
    font-size: 1.2em;
    border-radius: 1em;
    background-color: #f1f1f1;
    text-align: center;
}

.btn {
    background-color: #0e3837;
    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex: 0 0 auto;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: .75rem 1.2rem;
    text-align: center;
    text-decoration: none #6B7280 solid;
    text-decoration-thickness: auto;
    transition-duration: .2s;
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
}