.jobCard1 {
    width: 80%;
    height: auto;
    background-color: #d9d9d9;
    border-radius: 2em;
    transition: 300ms;
    border: none;
    cursor: pointer;
}

.jobCard1:hover {
    box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.5);
    transition: 300ms;

}

.jobCardContainer1 {
    color: #4a4a4a;
    display: flex;
    padding: 2em;
    gap: 2em;
   
    flex-direction: row-reverse;

}

.positionSpots {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.position {
    width: auto;
    height: auto;
    align-items: start;
}

.title1{
    font-weight: 800;
    font-size: 3em;
    margin-right: 10em;
}
.title2{
    font-weight: 500;
    font-size: 1em; 
    margin-right: 10em;
    align-items: start;
}
.type{
    font-weight: 500;
    font-size: 2em;
    
}
.jobtype{
    margin-left: auto;
    
}
.spots {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    padding: 0.5em;
    font-size: 1.2em;
    font-weight: 400;
    background-color: #c6c6c6;
    border-radius: 1em;
    width: auto;
}


.up1 {
    height: 3em;
    width: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c6c6c6;
    margin-top: 1em;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.17);
    -webkit-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.17);
    transition: 300ms;
}

.upIcon {
    color: #4a4a4a;
}

.up1:hover {
    box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.5);
    transition: 300ms;
}